@page "/"
<head>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
            padding: 10px
        }

        .Title {
            margin: auto;
            padding-bottom: 5px
        }
    </style>
    <div class="Title">
        <h1>Welcome to my app</h1>
    </div>
</head>
<body>
    <div class=".content">
       With this app you are able to create, edit, view and delete projects, tickets, companies and users.
        You are able to do this via the HUD located on the side of the page. In order to have the access to editing,viewing and deleting information for the different features it is required that an item be created,
        this can either be a ticket, company, user or ticket. Thank you for using my app for the creation of projects, hope the experience is worth while.
    </div>
</body>

