@page "/Project/Details/{Id:guid}"
@inject HttpClient Http
@inject NavigationManager Navigation

<head>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
            padding: 10px
        }

        .Title {
            margin: auto;
            padding-bottom: 5px
        }
    </style>
    <div class="Title">
        <h3>Details for project</h3><br />
    </div>
</head>
<div class="content">
    <body>
        <div>
            <p>These are the details for the project:</p><br />
            <p><i>@Project.CProject, @Project.ProjectName,@Project.ProjectId</i></p>
        </div>
        <button @onclick="BackButton">Back to main page</button>
    </body>
</div>

@code {
    public Project Project { get; set; } = new Project();

    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Project = await Http.GetFromJsonAsync<Project>($"/api/Projects/{Id}");
    }
    public void BackButton()
    {
        Navigation.NavigateTo("/Project");
    }
}
